<!-- <ng-container *ngLet="persons$ | async as state"> -->
    <!-- <p>ngx-datatable </p>
<div *ngFor="let p of persons$ | async">
    {{p.id}} {{p.firstName}} {{p.lastName}}
</div> -->

<p>---------------------------------------------------------------------------------------------------------------</p>
<div *ngLet="persons$ | async as state">
    {{state?.pageable?.pageNumber!}}<br>
    {{state?.pageable?.pageSize!}}<br>
    {{state?.totalElements!}}
<ngx-datatable
[rows]="state?.content ||[]"
[externalPaging]="true"
[count]="state?.totalElements!"
[offset]="state?.pageable?.pageNumber!"
[limit]="state?.pageable?.pageSize!"
(page)="setPage($event)"
(sort)="onSort($event)"
trackByProp="id"
[footerHeight]="50"
columnMode="force"
rowHeight="auto"

>
<ngx-datatable-column 
name="id"
prop="id"
>    
</ngx-datatable-column>
<ngx-datatable-column 
name="First Name"
prop="firstName"
>    
</ngx-datatable-column>
<ngx-datatable-column 
name="Last Name"
prop="lastName"
>    
</ngx-datatable-column>

<ngx-datatable-column 
name="Email"
prop="email"
>    
</ngx-datatable-column>

</ngx-datatable>


</div>

<!-- </ng-container> -->